asgiref==3.4.1
asn1crypto==0.24.0
certifi==2022.12.7
charset-normalizer==2.0.12
cryptography==2.1.4
Django==3.2.16
djangorestframework==3.14.0
docopt==0.6.2
idna==2.6
importlib-metadata==4.8.3
keyring==10.6.0
keyrings.alt==3.0
patroni==2.1.5
pipreqs==0.4.11
prettytable==2.5.0
psutil==5.9.4
psycopg2-binary==2.9.5
pycrypto==2.6.1
PyGObject==3.26.1
python-apt==1.6.5+ubuntu0.7
python-dateutil==2.8.2
pyxdg==0.25
PyYAML==3.12
requests==2.27.1
SecretStorage==2.3.1
six==1.11.0
typing_extensions==4.1.1
ubuntu-advantage-tools==27.12
urllib3==1.26.13
wcwidth==0.2.5
yarg==0.1.9
ydiff==1.2
zipp==3.6.0
